.characteristic {
  padding-top: 10px;

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.characteristic__table {
  min-width: 569px;

  @media (max-width: $tablet-width) {
    width: 100%;

    padding-top: 17px;
  }

  @media (max-width: $mobile-width) {
    min-width: auto;
  }
}

.characteristic__row td {
  border-bottom: 1px solid #d7d9df;
  padding-top: 20px;
  padding-bottom: 5px;

  color: #48494d;

  &:nth-child(2n) {
    text-align: right;

    @media (max-width: $mobile-width) {
      font-weight: 600;
      color: #48494d;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 11px;
    padding-left: 0;

    font-size: 16px;
    line-height: 19px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 26px;
    padding-bottom: 9px;
  }
}
