.fieldset {
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.fieldset__column {
  width: calc(50% - 14px);

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.fieldset__field {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  border: none;
  outline: none;

  padding: 7px 0 0 0;
  margin-bottom: 29px;
  margin-left: 0;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    margin: 25px auto 32px;
    width: 167px;
  }
}

.fieldset__rating span {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #000000;

  padding-right: 5px;

  order: 1;

  vertical-align: middle;

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;

    padding-right: 0;
    padding-bottom: 10px;

    text-align: center;

    order: 0;
  }
}

.fieldset__rating label:focus::before {
  color: $btn-red-hvr;
  opacity: 0.5;
}

.fieldset__rating:not(:checked) > input {
  display: none;
}

.fieldset__rating:not(:checked) > label {
  padding: 0;

  cursor: pointer;
  font-size: 26px;
  line-height: 27px;
  color: rgba(189, 190, 194, 0.7);

  &:first-of-type {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 31px;
    margin-right: 0;
  }
}

.fieldset__rating > label::before {
  content: "★";
  position: absolute;
  opacity: 0;
  color: $btn-color;
}

.fieldset__rating > label:hover::before,
.fieldset__rating > label:hover ~ label::before {
  opacity: 1 !important; // Без данного important правило для 'fieldset__rating:hover > input:checked ~ label::before opacity:0 ' переопределило бы другие в соответствии со специфичностью и применило прозрачную заливку ко всему. Таким образом, цвет звездочки ни будет меняться при наведении, если уже выбран какой-то рейтинг и пользователь хочет выбрать рейтинг меньше.
}

.fieldset__rating > label:focus ~ label::before {
  opacity: 1;
}

.fieldset__rating > input:checked ~ label::before {
  opacity: 1;
}

.fieldset__rating:hover > input:checked ~ label::before {
  opacity: 0;
}

.fieldset__rating > label:active {
  position: relative;
}

.fieldset__rating > label:focus {
  outline: none;
  opacity: 0.8;
}

.fieldset__field input,
.fieldset__field textarea {
  width: 100%;

  padding: 15px 10px 15px 22px;

  box-sizing: border-box;
  background-color: $white;
  border: 1px solid rgba(72, 73, 77, 0.2);

  position: relative;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #48494d;
  }
}

.fieldset__field--invalid input,
.fieldset__field--invalid textarea {
  border: 1px solid #ff0000;
}

.fieldset__field textarea {
  min-height: 118px;

  resize: none;
}

.fieldset input:hover,
.fieldset input:focus,
.fieldset textarea:hover,
.fieldset textarea:focus {
  box-shadow: 0 0 0 1px #141414;
}

.fieldset__input-error {
  display: none;

  font-size: 14px;
  line-height: 19px;

  color: #ff0000;

  margin-top: -24px;
  padding-bottom: 3px;
}

.fieldset__input-error--show {
  display: block;
}

.fieldset__field--comment,
.fieldset__field--name {
  position: relative;
}

.fieldset__field--comment::before,
.fieldset__field--name::before {
  content: "*";
  color: #d12136;
  font-size: 17px;
  line-height: 20px;
  font-family: "Arial", sans-serif;

  position: absolute;
  left: 12px;
  z-index: 99;
}

.fieldset__field--name::before {
  bottom: 20px;
}

.fieldset__field--comment::before {
  bottom: 91px;
}
