.footer {
  background-color: $light-gray;

  margin-top: auto;
}

.footer__inner {
  max-width: 1205px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 20px 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 24px 46px 36px 21px;
  }

  @media (max-width: $mobile-width) {
    padding: 25px 0 30px;
  }
}
