.header {
  background-color: $light-gray;
}

.header__inner {
  max-width: 1218px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 15px 25px 9px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 10px 0 5px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 0 10px;
  }
}

.header__logo {
  margin-right: 25px;

  @media (max-width: $tablet-width) {
    padding-left: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}
