.rating {
	width: 265px;
}
.rating span {
	padding: 0;
	font-size: 16px;
	margin: 0 2px;
	line-height: 1;
	color: rgba(189, 190, 194, 0.7);
}
.rating > span:before {
	content: '★';
}
.rating > span.rating__active {
	color: $btn-color;
}

.rating span:last-of-type {
  font-size: 15px;
  line-height: 20px;
  color: #D12136;

  padding-left: 20px;
}

.rating span:last-of-type::before {
  content: "";
}