.rating {
  width: 265px;
}

.rating span {
  font-size: 16px;
  line-height: 1;
  color: rgba(189, 190, 194, 0.7);

  margin: 0 1px;
  padding: 0;
}

.rating > span::before {
  content: "★";
}

.rating > span.rating__active {
  color: $btn-color;
}

.rating span:last-of-type {
  font-size: 15px;
  line-height: 20px;
  color: $btn-color;

  padding-left: 12px;

  vertical-align: bottom;
}

.rating span:last-of-type::before {
  content: "";
}
