.reviews__wrapper {
  position: relative;
}

.reviews__list {
  @include list-reset;

  padding-top: 10px;
}

.reviews__item {
  padding: 20px 0 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.reviews__button {
  position: absolute;
  right: 9px;
  top: 30px;

  width: 189px;

  z-index: 40;

  @media (max-width: $tablet-width) {
    position: relative;
    display: block;
    width: 189px;

    margin-bottom: 30px;
    margin-left: 10px;
  }

  @media (max-width: $mobile-width) {
    margin: 20px auto 30px;
  }
}

.reviews__item:nth-child(2n) .reviews__features {
  padding-bottom: 9px;
}

.reviews__item:nth-child(2n) .reviews__comment {
  padding-top: 17px;

  @media (max-width: $tablet-width) {
    padding-top: 12px;
  }
}

.reviews__features {
  padding-left: 19px;
  padding-bottom: 13px;

  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.reviews__comment {
  padding-bottom: 17px;

  @media (max-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.reviews__comment h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 5px;

  margin: 0;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.reviews__item p:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  margin: 0;
  padding-bottom: 12px;

  @media (max-width: $tablet-width) {
    font-size: 15px;
    line-height: 20px;

    padding-bottom: 8px;
  }
}

.reviews__features h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: $black;

  margin: 0;
  padding-bottom: 5px;
}

.reviews__features h3::before {
  position: absolute;
  left: 0;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: $btn-color;
}

.reviews__features--pros h3::before {
  content: "+";
}

.reviews__features--cons h3::before {
  content: "–";
}

.reviews__item p {
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;

  color: $black;
}

.reviews__date {
  display: flex;

  padding-top: 29px;
}

.reviews__date p:first-child {
  font-size: 14px;
  line-height: 19px;

  color: $black;

  opacity: 0.4;
}

.reviews__answer {
  text-decoration: none;
  padding-left: 28px;

  font-size: 16px;
  line-height: 22px;

  color: $btn-color;

  &:hover,
  &:active {
    opacity: 0.7;
  }
}
