.tabs-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

.tabs-nav__item {
  min-width: 195px;
  border: 1px solid #d7d9df;
  box-sizing: border-box;

  text-align: center;
  font-size: 20px;
  line-height: 27px;

  padding: 10px 0 11px;

  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.7;
  }
}

.tabs-nav__item--is-active {
  background-color: $btn-color;
  color: $white;

  &:hover {
    opacity: 1;
  }
}
