body {
  font-family: $openSans;
  font-size: 16px;
  color: $text-color;
  font-weight: 400;
  line-height: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input::-webkit-appearance,
textarea::-webkit-appearance,
select::-webkit-appearance {
  appearance: none;
}