$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$openSans: "Open Sans", "Arial", sans-serif;

$light-gray: #f5f5f9;
$text-color: #48494d;
$btn-color: #d12136;
$black: #000000;
$white: #fff;